.album-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.head-cover-container {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 1000px;
}

.head-cover {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-evenly;
  width: 500px;
}

.album-artist-name {
  width: 200px;
}

.cover-art {
  width: 250px;
  border: 1px solid white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.644);
}

@media screen and (max-width: 955px) {
  .head-cover-container {
    flex-direction: column;
  }
  
}
