.search-fieldset {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.226);
  display: flex;
  height: 100px;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 550px;
}

.search.search-fieldset, form, label, input {
  margin-left: 10px;
  margin-right: 10px;
}


.result-board {
  align-items: center;
  background-color: rgba(244, 244, 253, 0.671);
  border: 3px inset;
  box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.397);
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
  width: 96vw;
}

.result-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.album-div {
  align-items: center;
  background-color: grey;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  height: 130px;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  width: 250px;
}

.album-cover {
  width: 100px;
}

.name-collection-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.name-collection-div p {
  color: black;
  font-size: 12px;
  text-decoration: none;
}

.link-album {
  text-decoration: none;
}

@media screen and ( max-width : 1000px ) {

  .search-fieldset {
    width: 80%;
  }
}
