.search-fieldset {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.226);
  display: flex;
  height: 100px;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 550px;
}

.search.search-fieldset, form, label, input {
  margin-left: 10px;
  margin-right: 10px;
}


.result-board {
  align-items: center;
  background-color: rgba(244, 244, 253, 0.671);
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.result-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.album-div {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 200px;
}
