body {
  background-color: rgb(77, 77, 77);
}

.main-header {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: center;
  width: 100%;
}

.main-p {
  font-size: 50px;
}

.main-app {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 850px;
  justify-content: space-between;
  width: 100%;
}
