.header-section {
  align-items: center;
  background-color: rgb(49, 49, 49);
  border: 5px solid rgb(91, 114, 104);
  display: flex;
  height: 50px;
  justify-content: space-around;
  width: 100%;
}

.link-nav {
  align-items: center;
  background-color: rgba(134, 204, 149, 0.288);
  color: rgb(111, 214, 133);
  display: flex;
  font-size: 20px;
  height: 5px;
  justify-content: center;
  text-decoration: none;
  width: 120px;
}

.user-name-div {
  align-items: center;
  background-color: grey;
  border: 1px solid black;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.473);
  display: flex;
  height: 30px;
  justify-content: space-evenly;
  width: max-content;
}

.user-name {
  font-size: 15px;
  padding: 5px;
}

.login-btn-div {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: center;
}

.link-p-div {
  align-items: center;
  background-color: black;
  border: 1px solid black;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  box-shadow: 2px 2px 2px black;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 55px;
}

.link-p {
  color: white;
  font-size: 12px;
  text-decoration: none;
  padding: 5px;
}

@media screen and (max-width: 1000px) {
  .header-section {
    width: 100vw;
  }

  .link-nav {
    font-size: 80%;
  }

  .login-btn-div {
    height: 50%;
  }

  .user-name {
    font-size: 50%;
  }

  .link-p {
    font-size: 50%;
  }
}