.page-login-form {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-between;
  width: fit-content;
}

.login-fieldset {
  align-items: center;
  background-color: rgb(68, 68, 68);
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: space-between;
  width: 400px;
}

.login-fieldset label {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  width: 70%;
}

.login-fieldset button {
  height: 30px;
  margin-top: 50px;
  width: 70%;
}
